<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/dist/css/bootstrap.css"
          asp-href-exclude="/lib/bootstrap/dist/css/bootstrap-reboot.css, 
          /lib/bootstrap/dist/css/bootstrap-grid.css"/>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar-dark bg-dark fixed-top" role="navigation" >
        <a class="navbar-brand" href="/">SPORTS STORE</a>
    </div>
    <div class="row " style="margin-top: 75px;">
        <div id="categories" class="col-md-3" style="padding-left:20px; padding-right:20px;">
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        <div class="col-md-9" style="padding-right:25px; padding-left:25px;">
            @RenderBody()
        </div>
    </div>
</body>
</html>
