@{
    Layout=null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name ="viewport" content="wodth=device-width">
        <link rel="stylesheet" href="wwwroot/lib/bootstrap/dist/css/bootstrap.css"/>
        <title>Error</title>
    </head>

    <body>
        <h2 class="text-danger">Error</h2>
        <h3 class="text-danger">An error occured while processing you requesy.</h3>
    </body>
</html>